body {
    background-color: #F5F5F5;
    color: #212121;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}
ul {
    list-style: none;
}

.logo {
color: #000000; #2196F3;
font-family: Raleway;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;

     
}
.half-logo {
 color: #2196F3;   
}
/* стилизация навигации */
.site-nav .link {
color: #212121;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

}
.site-nav .link:hover, 
.site-nav .link:focus {
    color: #2196F3;
}
.site-nav .link.current {
    color: #2196F3;
}
.contacts .tel {
 color: #757575;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
    }
.contacts .tel:hover, 
.contacts .tel:focus {
    color: #2196F3;
}    
/* стилизация заглавия с кнопкой */
.head-title {
background-color: #2F303A;
color: #ffffff;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

}
.button {
cursor: pointer;
background-color: #2196F3;
color: #ffffff;
font-weight: 700;
font-size: 16px;
line-height: 1.875;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
   }
.button:hover 
.button:focus {
color: #2196F3;
 }

/* стилизация страницы */
.box-title {
color: #212121;
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
}
/* стилизация секции наші переваги */
.benefits .title {
color: #212121;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
}
.information {
color: #757575;
font-size: 14px;
line-height: 1.71;
}
/* стилізація секції наша команда */
.box.element {
    background-color: #F5F4FA;
}
.team .card {
    background-color: #FFFFFF;
}
.team .team-member {
color: #212121;
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
}
.team .position {
color: #757575;
font-size: 16px;
line-height: 1.19;
text-align: center;
}
/* футер */
.basement {
background-color: #2F303A;
    }
    /* стилізація сторінки портфоліо */
    .filters .filters-title {
        background-color: #F5F4FA;
        color: #212121;
        cursor: pointer;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.625;
        text-align: center;  
    }
    .filters .filters-title:hover,
    .filters .filters-title:focus {
        background-color: #2196F3;
        color: #FFFFFF;
    }
    .project {
        background-color: #FFFFFF;
    }
    .project .project-title {
    color: #212121;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    }
    .project .project-group {
    color: #757575;
    font-size: 16px;
    line-height: 1.875;
    }
